* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

#mainpart {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#centratore {
    height: 200px;
    width: 300px;
    position: relative;

}


.container {
    height: 200px;
    width: 300px;
    display: none;
    
    
}

.container img {
    
    height: 100%;
    width: 100%;
    object-fit: fill
   
        
}

.button {
    background-color: #cccccc;
    border-radius: 999px;
    padding: 2px;
    position: absolute; 
    transform: translate(50%,0%);
    right: 50%;
}

.next {
    
    top: 10px;
    
   
}

.before {
    bottom: 10px;

}



.active {
    display:block
}

.hidden {
    display: none;
}